.headerImg {
    display: flex;
    background-size: cover;
    width: 100%;
    height: 100%;
    height: 15vh;
  }
  
  .imgRest {
    width: inherit;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .backButton {
    position: absolute;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    margin-left: 2%;
    border: solid 4px;
    border-color: #fba121;
    background-color: #edd479;
    font-weight: bold;
    font-size: 1em;
    width: 40px;
    height: 35px;
    border-radius: 30px;
    color: #97617a;
    cursor: pointer;
  }
  
  .imgBack {
    width: 25px;
  }