.errorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 20px;
  color: brown;
  height: 620px;
}

.cupCoffee {
  width: 30%;
}

.redirect {
  margin-top: 5%;
  font-family: sans-serif;
  font-size: 18px;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px;
  padding: 5px 8px 5px 8px;
  font-weight: bold;
  cursor: pointer;
  background-color: #d82000;
  color: #000;
}

.redirect:hover {
  background-color: #7ed090;
}
