.headerImg {
    display: flex;
    background-size: cover;
    width: 101%;
    height: 175px;
    height: 27vh;
}

.imgRest {
    width: inherit;
    height: 177px;
    position: absolute;
    left: 0;
    top: 0;
}

.containerSignUpArea {
    display: grid;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.signUpTitle {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-family: sans-serif;
    color: brown;
    margin-top: unset;
    margin-bottom: unset;
}

.inputSignUp {
    display: flex;
    border-radius: 8px;
    border: solid 2px;
    font-size: 20px;
    font-family: revert;
    width: 320px;
    height: 45px;
}

.welcomeContainer {
    display: flex;
    justify-content: center;
    width: 99vw;
    height: 68vh;
}

.welcomeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}


.logOutButton {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 2px;
    margin-left: 1215px;
    background-color: un;
    background-color: unset;
    border: solid 4px;
    border-color: #FBA121;
    color: #ffff;
    background-color: brown;
    font-weight: bold;
    font-size: 1em;
    width: 106px;
    height: 58px;
    border-radius: 30px;
}

.iconLogOut {
    width: 30px;
}