.headerImg {
    display: flex;
    background-size: cover;
    width: 100%;
    height: 100%;
    height: 15vh;
}

.imgRest {
    width: inherit;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
}

.backButton {
    position: absolute;
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    margin-top: 14px;
    margin-left: 1%;
    border: solid 4px;
    border-color: #FBA121;
    background-color: #EDD479;
    font-weight: bold;
    font-size: 1em;
    width: 5%;
    height: 35px;
    border-radius: 30px;
    color: #97617A;
}

.imgBack {
    width: 30px;
}

.productsTable{
    display: flex;
    flex-flow: column;
    width: 90%;
    margin: auto;
    background-color: antiquewhite;
    box-shadow: 0 0 15px #333;
}

.titleTable{
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 2.5em;
    font-weight: bold;
    font-family: sans-serif;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 4px;
    border-color: coral;
}

.addButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unset;
    border: solid 4px;
    border-color: #FBA121;
    color: #ffff;
    background-color: rgb(237, 98, 98);
    font-weight: bold;
    font-size: .4em;
    width: 90px;
    height: 40px;
    border-radius: 30px;
    margin-left: 5%;
}

.addButton:hover{
    border-color: rgb(163, 69, 69);
}

.iconAdd{
    width: 30px;
}

.mainHeaderTable{
    display: grid;
    grid-template-columns: repeat(5,20%);
}

.headerTable{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #453006;
    border: solid 2px;
    border-color: coral;
    background-color: coral;
}

.containerItems{
    display: grid;
    grid-template-columns: repeat(5,20%);
}

.itemTable{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.5em;
    padding: 10px;
    border: solid 1px;
    border-color: coral;
}

.btnEditAndDelete{
    border: none;
    background: none;
}

.imgEdit{
    width: 40px;
}

.imgDelete{
    width: 25px;
}

.itemAlignStart{
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.5em;
    padding: 10px;
    border: solid 1px;
    border-color: coral;

}
.itemAlignStart{
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.5em;
    padding: 10px;
    border: solid 1px;
    border-color: coral;

}

.logOutButton {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 2px;
    right: 21px;
    background-color: un;
    background-color: unset;
    border: solid 4px;
    border-color: #FBA121;
    color: #ffff;
    background-color: brown;
    font-weight: bold;
    font-size: 1em;
    width: 106px;
    height: 58px;
    border-radius: 30px;
}

.logOutButton:hover{
    border-color: rgb(163, 69, 69);
}

.iconLogOut {
    width: 30px;
}