.productsTable {
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: auto;
  background-color: antiquewhite;
  box-shadow: 0 0 15px #333;
}

.titleTable {
  grid-column-start: 1;
  grid-column-end: 6;
  font-size: 2.1em;
  font-weight: bold;
  font-family: sans-serif;
  color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 4px;
  border-color: coral;
}

.addButton {
  background: none;
  border: none;
  margin-left: 3%;
  margin-top: 2px;
  cursor: pointer;
}

.iconAdd {
  width: 32px;
}

.mainHeaderTable {
  display: grid;
  grid-template-columns: repeat(6, 16.67%);
}

.headerTable {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #453006;
  border: solid 2px;
  border-color: coral;
  background-color: coral;
}

.scrollProduct {
  height: 70vh;
  overflow-y: auto;
}

.containerItems {
  display: grid;
  grid-template-columns: repeat(6, 16.67%);
}

.itemAlignStart {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.1em;
  padding: 10px;
  border: solid 1px;
  border-color: coral;
}

.itemTable {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.1em;
  padding: 10px;
  border: solid 1px;
  border-color: coral;
}

.text {
  word-break: break-all;
}

.btnEditAndDelete {
  border: none;
  background: none;
  cursor: pointer;
}

.imgEdit {
  width: 35px;
}

.imgDelete {
  width: 20px;
}

/* MODAL DE BORRAR EMPLEADO */
.modalDelete,
.overlayDelete {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlayDelete {
  background: rgba(49, 49, 49, 0.496);
}

.modalContentDelete {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #e9deba;
  padding: 14px 28px;
  border-radius: 13px;
  width: 30%;
  height: 20%;
  max-width: 600px;
  min-width: 300px;
}

.deleteOrCancel {
  font-size: 120%;
  font-family: sans-serif;
}

.deleteAndCancel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6%;
}

.deleteYes {
  margin-left: 18%;
  background-color: #fc7117;
  border-color: #fc7117;
  border-radius: 5px;
  font-weight: bold;
  padding: 6%;
  font-size: 95%;
}

.cancel {
  margin-left: 40%;
  background-color: #7ed090;
  border-color: #7ed090;
  border-radius: 5px;
  font-weight: bold;
  padding: 6%;
  font-size: 95%;
}
/* Aquí terminó el modal de borrar empleado */
