.headerImg {
    display: flex;
    background-size: cover;
    width: 101%;
    height: 175px;
    height: 27vh;
}

.imgRest {
    width: inherit;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}

.welcomeContainer {
    display: flex;
    justify-content: center;
    width: 99vw;
    height: 68vh;
}

.welcomeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}

.welcomeTitle {
    display: flex;
    height: 70px;
    font-size: 60px;
    font-family: sans-serif;
    color: brown;
    margin-top: unset;
    margin-bottom: unset;
}

.buttonsArea {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 5rem;
    row-gap: 2rem;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.welcomeButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-radius: 20px;
    background-color: #7ED090;
    font-size: 35px;
    font-family: revert;
}

.welcomeButtons:hover {
    background-color: #6DAE7B;
}

.iconsButtons {
    width: 45px;
}

.logOutButton {
    position: absolute;
    margin-top: 25px;
    margin-left: 13px;
    background-color: #EDD479;
    width: 60px;
    border-radius: 30px;
}

.iconLogOut {
    width: 45px;
}