.menuContainerDad{
    display: flex;
    justify-content: center;
    width: 50vw;
}

.menuContainer{
    align-items: center;
    flex-direction: column;
    background-color: #EDD479;
    width: 95%;
    height: 100%;
}

.textMenu{
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 2.5em;
    font-weight: bold;
    font-family: sans-serif;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.buttonsMenu{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin: 15px;
}

.menuOne{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    font-size: 25px;
    border-radius: 56px;
    background-color: #B0BD17;
    border: none;
    cursor: pointer;
}

.menuOne:focus{
    border: 4px solid #FC814D;
    font-weight: bold;
}

.menuTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    font-size: 25px;
    border-radius: 56px;
    background-color: #B0BD17;
    border: none;
    cursor: pointer;
}

.menuTwo:focus{
    border: 4px solid #FC7117;
    font-weight: bold;
}

.line{
    display: flex;
    justify-content: center;
    margin-top: 3%; 
}

.imgLine{
    width: 90%; 
}

.scrollMenu{
    height: 57vh;
    overflow-y: scroll;
}

.allMenu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 1.2rem;
    row-gap: 1.2rem;
    justify-content: center;
}

.breakfastAndLunch{
    display: flex;
    justify-content: center;
}

.buttonBreakfast{
    background-color: #FC814D;
    border: none;
    border-radius: 13px;
    width: 80%;
    height: 100%;
    min-height: 100px;
    max-height: 150px;
    font-size: 140%;
    cursor: pointer;
}

.buttonBreakfast:hover{
    background-color: #db6c3d;
}

.buttonLunch{
    background-color: #FC7117;
    border: none;
    border-radius: 13px;
    width: 80%;
    height: 100%;
    min-height: 100px;
    max-height: 150px;
    font-size: 140%;
    cursor: pointer;
}

.buttonLunch:hover{
    background-color: #da6619;
}