.headerOrder {
    display: flex;
    background-size: cover;
    width: 100%;
    height: 100%;
    height: 15vh;
}

.containerViewMenuNewOrder{
    display: flex;
    height: 82vh;
}

.headerImg {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0;
    top: 0;
}

.backButton {
    position: absolute;
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    margin-top: 2px;
    margin-left: 2%;
    border: solid 4px;
    border-color: #FBA121;
    background-color: #EDD479;
    font-weight: bold;
    font-size: 1em;
    width: 5%;
    height: 35px;
    border-radius: 30px;
    color: #97617A;
}

.imgBack {
    width: 30px;
}